@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proximanova_regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/proximanova_black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ElMessiri";
    src: url(../fonts/ElMessiri-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ElMessiri";
    src: url(../fonts/ElMessiri-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ElMessiri";
    src: url(../fonts/ElMessiri-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "ElMessiri";
    src: url(../fonts/ElMessiri-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}